
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
  </head>
  <body>
    <img src="http://media1.giphy.com/media/p0L0XVckvBLuU/giphy.gif" style="height:400px;width:600px;text-align:center;margin:auto;"/>
  </body>
</html>
